.day {
  margin-right: 50px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.row {
  display: flex;
}

.temp {
  font-size: 80px;
  font-weight: 700;
}
.icon {
  position: relative;
  top: -25px;
}
